{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div id="search">
            <div class="container">
                <div id="search-header" class="row text-center">
                    <h1 class="dashery">Intuitive Clothing Search</h1>
                </div>
                <div class="row">
                    <div class="tokenfield col-md-8 col-md-offset-2">
                        <div class="input-group">
                            <input type="text" class="form-input tokenfield-search"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="search()">Go!</button>
                </span>
                        </div>
                    </div>
                </div>
                <div class="row text-center" id="search-information">
                    <div class="col-md-4">
                        <h2>Token Based Searching</h2>

                        <p>Simply type what you are looking for and autocomplete will do the rest!</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Immediate Results</h2>

                        <p>All results will match your specific desires, so no need to go trawling through pages of
                            Google
                            results.</p>
                    </div>
                    <div class="col-md-4">
                        <h2>High Quality Clothing</h2>

                        <p>Quality garments from the likes of Drake's, Pantherella, and Marwood.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" id="featured">
            <div class="row text-center strike">
                <span>FEATURED</span>
            </div>
            <div class="row text-center">
                <a href="http://www.drakes.com/online-shop/scarves/archival-hunter-print-wool-and-silk-scarf-9493">
                    <div class="col-md-3 col-result">
                        <img src="{% static 'img/featured/drakes.jpg' %}" class="img-responsive img-result"/>
                        <span><strong>Drake's</strong></span>
                        <br/>
                        <span>£275</span>
                    </div>
                </a>
                <a href="http://www.carriercompany.co.uk/shop/35-men-s-irish-wool-jacket">
                    <div class="col-md-3 col-result">
                        <img src="{% static 'img/featured/carriercompany.jpg' %}" class="img-responsive img-result"/>
                        <span><strong>Carrier Company</strong></span>
                        <br/>
                        <span>£130</span>
                    </div>
                </a>
                <a href="http://www.tusting.co.uk/collections-leather-bags/harrold/harrold-chellington-leather-holdall-in-deep-green">
                    <div class="col-md-3 col-result">
                        <img src="{% static 'img/featured/tusting.jpg' %}" class="img-responsive img-result"/>
                        <span><strong>Tusting</strong></span>
                        <br/>
                        <span>£640</span>
                    </div>
                </a>
                <a href="http://hiutdenim.co.uk/products/selvedge-denim-hacks-2014">
                    <div class="col-md-3 col-result">
                        <img src="{% static 'img/featured/hiut.jpg' %}" class="img-responsive img-result"/>
                        <span><strong>Hiut</strong></span>
                        <br/>
                        <span>£230</span>
                    </div>
                </a>
            </div>
            <div class="row text-center">
                <a href="http://www.marwoodlondon.co.uk/product/marwood-slub-fleck-applique-navy-white/">
                    <div class="col-md-3 col-result">
                        <img src="{% static 'img/featured/marwood.jpg' %}" class="img-responsive img-result"/>
                        <span><strong>Marwood</strong></span>
                        <br/>
                        <span>£130</span>
                    </div>
                </a>
                <a href="http://www.privatewhitevc.com/online-shop/mens/coats-jackets/bestsellers/twin-track-olive-beeswax.html">
                    <div class="col-md-3 col-result">
                        <img src="{% static 'img/featured/privatewhitevc.jpg' %}" class="img-responsive img-result"/>
                        <span><strong>Private White V.C.</strong></span>
                        <br/>
                        <span>£595</span>
                    </div>
                </a>
                <a href="http://www.pantherella.com/cotton-lisle-duke-diamond-stitch-argyle.html">
                    <div class="col-md-3 col-result">
                        <img src="{% static 'img/featured/pantherella.jpg' %}" class="img-responsive img-result"/>
                        <span><strong>Pantherella</strong></span>
                        <br/>
                        <span>£14.50</span>
                    </div>
                </a>
                <a href="http://www.quiggleys.co.uk/collections/knitwear/products/trapper">
                    <div class="col-md-3 col-result">
                        <img src="{% static 'img/featured/quiggleys.jpg' %}" class="img-responsive img-result"/>
                        <span><strong>Quiggleys</strong></span>
                        <br/>
                        <span>£155</span>
                    </div>
                </a>
            </div>
        </div>
{% endblock %}