{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Dashery</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/search.css' %}"/>
</head>
<body>
<div class="container">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="row text-center top">
            <h1 class="dashery">Dashery.</h1>
        </div>
        <div class="row text-center search">
            <input class="form-control" type="text" placeholder="Search here..."/>
        </div>
    </div>
</div>

<script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
</body>
</html>