.top {
    padding-top: 9em;
}

.dashery, .dashery-small {
    font-family: 'Batang', serif;
}

.dashery-small {
    font-size: 300%;
    margin-bottom: 0px;
}

.logo {
    font-size: 500%;
}

.search {
    padding-top: 1em;
    margin-bottom: 0.3em;
}

.search-top {
    margin-bottom: 0.3em;
}

.tt-open {
    width: 100%;
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.myrow {
    font-size: 0;
}

.myrow > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}

.myrow > *:last-child {
    vertical-align: bottom;
}

.myrow p:last-child {
    margin-bottom: 0; /* optional */
}
